@model IEnumerable<DirectoryModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRetiredOutput)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieCountOutput)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movies)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRetiredOutput)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieCountOutput)
                    </td>
                    <td>
                        @foreach (var movie in item.Movies)
                        {
                            <p>@movie.Name</p>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

