@model IEnumerable<MovieModel>

@{
    ViewData["Title"] = "Movies";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get, new { @class = "search-form" }))
    {
        <div class="input-group">
            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search for movies..." })
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Placeholder image -->
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Movie Image">

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">Year: @Html.DisplayFor(modelItem => item.Year)</p>
                        <p class="card-text">Revenue: @Html.DisplayFor(modelItem => item.Revenue)</p>
                        <p class="card-text">Director: @Html.DisplayFor(modelItem => item.directorOutput)</p>
                        <div class="btn-group" role="group">
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
